@using System.Linq;
@using Nwazet.Commerce.Models;
@{
    var priceTiers = new List<PriceTier>(Model.PriceTiers);
    var discountedPriceTiers = new List<PriceTier>(Model.DiscountedPriceTiers);
}
@if (Model.PriceTiers != null && Enumerable.Count(Model.PriceTiers) > 0) {
    <table class="tiered-prices">
        <tr>
            <td>@T("Quantity")</td>
            <td>@T("Price")</td>
        </tr>
        @for (var i = 0; i < priceTiers.Count(); i++ ) {
            <tr>
                <td>@priceTiers[i].Quantity</td>
                <td>
                    @if (priceTiers[i].Price != discountedPriceTiers[i].Price) {
                        <span class="inactive-price" style="text-decoration:line-through" title="@T("Was {0:c}", priceTiers[i].Price)">@T("{0:c}", priceTiers[i].Price)</span>
                        <span class="discounted-price" title="@T("Now {0:c}", discountedPriceTiers[i].Price)">@T("{0:c}", discountedPriceTiers[i].Price)"</span>
                    }
                    else {
                        <span class="regular-price">@T("{0:c}", priceTiers[i].Price)</span>
                    }

                </td>
            </tr>
        }
    </table>
}