@model Nwazet.Commerce.ViewModels.ProductAttributePartEditViewModel
@{
    Style.Include("attribute.nwazet-commerce-admin.css");
    
    Script.Require("jQueryUI_Sortable").AtFoot();
    Script.Include("mustache.js");
    Script.Include("attribute-admin.js").AtFoot();
}
<fieldset>
    <label class="sub" for="@Html.IdFor(m => m.DisplayName)">@T("Display Name")</label><br />
    @Html.TextBoxFor(m => m.DisplayName, new { @class = "text medium" })
    <span class="hint">@T("Label for attribute drop-down list. Leave empty to hide label.")</span><br />
    <label class="sub" for="@Html.IdFor(m => m.SortOrder)">@T("Sort Order")</label><br />
    @Html.TextBoxFor(m => m.SortOrder, new { @class = "text small" })<br />
    <span class="hint">@T("Order in which attributes are displayed.")</span><br />
</fieldset>
<fieldset>
    <legend>@T("Attribute Value Options")</legend>
    <div class="hint">@T("Name is the option text displayed for the user to select.")</div>
    <div class="hint">@T("Sort Order determines the order in which options are displayed relative to each other.")</div>
    <div class="hint">@T(@"Price Adjustment is the amount the price will be adjusted for each item that has the attribute selected. Use negative adjustments to reduce the price.")</div>
    <div class="hint">@T(@"When checked, Apply To Line causes the price adjustment to be applied to the line total. By default, the adjustment is applied to the unit price.")</div>
    <ul id="NwazetCommerceAttribute_AttributeValues">
        <li class="header">
            <div class="option-name">@T("Name")</div>
            <div class="price-adj">@T("Price Adjustment")</div>
            <div class="apply-line">@T("Apply To Line")</div>
            @if (Model.AttributeExtensionProviders != null) { 
            <div class="extension">@T("Extension")</div>
            }
        </li>
        @{int i = 0;}
        @foreach (var value in Model.AttributeValues) {
            <li class="option">
                <div class="option-name">
                    <input type="hidden" name="NwazetCommerceAttribute.AttributeValues.Index" value="@i" />
                    <input type="hidden" name="NwazetCommerceAttribute.AttributeValues[@i].SortOrder" value="@value.SortOrder" />
                    <input type="text" class="text" name="NwazetCommerceAttribute.AttributeValues[@i].Text" value="@value.Text" />
                </div>
                <div class="price-adj">
                    <input type="text" class="text small" name="NwazetCommerceAttribute.AttributeValues[@i].PriceAdjustment" value="@value.PriceAdjustment" />
                </div>
                <div class="apply-line">
                    <input type="checkbox" name="NwazetCommerceAttribute.AttributeValues[@i].IsLineAdjustment" @(value.IsLineAdjustment ? "checked='checked'" : "") value="True" />
                </div>
                @if (Model.AttributeExtensionProviders.Count() > 0) {
                <div class="extension">
                    <select name="NwazetCommerceAttribute.AttributeValues[@i].ExtensionProvider">
                        <option value="">None</option>
                        @foreach (var provider in Model.AttributeExtensionProviders) {
                            <option value="@provider.Name" @(value.ExtensionProvider == provider.Name ? "selected" : "")>@provider.DisplayName</option>
                        }
                    </select>
                </div>
                }
                <div><a href="#" class="nwazet-remove-attribute-value">@T("Delete")</a></div>
            </li>
            i++;
        }
    </ul>
    <button id="NwazetCommerceAttribute_AddAttributeValue">@T("Add Attribute Value")</button>
</fieldset>

<script type="x-tmpl-mustache" id="valueTemplate">
    <li class="option">
        <div class="option-name">
            <input type="hidden" name="NwazetCommerceAttribute.AttributeValues.Index" value="{{ index }}" />
            <input type="hidden" name="NwazetCommerceAttribute.AttributeValues[{{ index }}].SortOrder" value="{{ sort }}" />
            <input type="text" class="text" name="NwazetCommerceAttribute.AttributeValues[{{ index }}].Text" />
        </div>
        <div class="price-adj">
            <input type="text" class="text small" name="NwazetCommerceAttribute.AttributeValues[{{ index }}].PriceAdjustment" value="0" />
        </div>
        <div class="apply-line">
            <input type="checkbox" name="NwazetCommerceAttribute.AttributeValues[{{ index }}].IsLineAdjustment" value="True" />
        </div>
        @if (Model.AttributeExtensionProviders.Count() > 0) {
        <div class="extension">
            <select name="NwazetCommerceAttribute.AttributeValues[{{ index }}].ExtensionProvider">
                <option value="">None</option>
                @foreach (var provider in Model.AttributeExtensionProviders) {
                    <option value="@provider.Name">@provider.DisplayName</option>
                }
            </select>
        </div>
        }
        <div><a href="#" class="nwazet-remove-attribute-value">@T("Delete")</a></div>
    </li>
</script>