@using Nwazet.Commerce.Models
@using Nwazet.Commerce.Services
@{
    var zipCodeTaxPart = (ZipCodeTaxPart)Model.Tax;
}
<fieldset>
    <label class="sub" for="@Html.Id("Name")">@T("Name")</label><br />
    @Html.TextBox("Name", zipCodeTaxPart.Name, new { @class = "text text-large" })<br />
    <span class="hint">@T("Title displayed to users at checkout.")</span><br />
    <label class="sub" for="@Html.Id("Rates")">@T("Zip Code Rates")</label><br />
    @Html.TextArea("Rates", zipCodeTaxPart.Rates)<br />
    <span class="hint">@T("One line for each zip/rate with the values seperated by a comma or tab. Tab seperated values are also supported to allow copying and pasting from spreadsheets.")</span><br />
    <label class="sub" for="@Html.Id("Priority")">@T("Priority")</label><br />
    @Html.TextBox("Priority", zipCodeTaxPart.Priority, new { @class = "text text-small" })<br />
    <span class="hint">@T("The priority to apply this tax. The highest priority wins. This makes it possible to create a hierarchy of taxes.")</span><br />
</fieldset>