@model RM.QuickLogOn.OAuth.Models.GoogleSettingsPart
@using Orchard.Utility.Extensions;

<fieldset>
    <legend>@T("Google OAuth")</legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.ClientId)">@T("Client Id")</label>
        @Html.TextBoxFor(m=>m.ClientId)
        @Html.ValidationMessage("ClientId", "*")
        <span class="hint">@T("You have to create Google API Project to get ClientId.")&nbsp;<a href="https://code.google.com/apis/console">https://code.google.com/apis/console</a></span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ClientSecret)">@T("Client Secret")</label>
        @Html.PasswordFor(m=>m.ClientSecret)
        @Html.ValidationMessage("ClientSecret", "*")
        <span class="hint">@T("Entre client secret to change. If empty then no change.")</span>
    </div>
</fieldset>