@{
    var title = Layout.Title = T("View order");
}
<h1>@title</h1>
@using (Html.BeginFormAntiForgeryPost(Url.Action("Show", "OrderSsl", new { area = "Nwazet.Commerce" }), FormMethod.Post, new { @id = Model.OrderId })) {
    <label for="@Html.Id("Password")">@T("Please enter the password for order #{0}", Model.OrderId)</label>
    @Html.TextBox("Password")
    <input type="submit" value="@T("OK")"/>
}