@using Nwazet.Commerce.Models
@{Script.Include("inventory.js", "inventory.min.js");}
<div class="price">@T("Price:") <span class="value">@Model.Price.ToString("C")</span></div>
<div class="sku">@T("Sku:") <span class="value">@Model.Sku</span></div>
@if (Model.Inventory != null && !Model.ContentPart.ContentItem.Has(typeof(BundlePart))) {
    <div class="product inventory">
        @T("Inventory:") <span class="value @Model.Sku">@Model.Inventory</span>
        <a class="remove" href="#"
            data-id="@Model.ContentPart.ContentItem.Id"
            data-url="@Url.Action("RemoveOne", "ProductAdmin", new {area = "Nwazet.Commerce"})">@T("Remove one")</a>
    </div>
}