@model Contrib.MediaFolder.Models.RemoteStorageSettingsPartRecord

<fieldset>
    <legend>@T("Remote Storage")</legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.MediaLocation)">@T("Location of the Media folder")</label>
        @Html.TextBoxFor(m => m.MediaLocation, new { @class = "large text" })
        @Html.ValidationMessage("MediaLocation", "*")
    </div>
    <div>
        @Html.EditorFor(m => m.EnableDirectRoute)
        <label for="@Html.FieldIdFor(m => m.EnableDirectRoute)" class="forcheckbox">@T("Enable direct route")</label>
        <span class="hint">@T("Check if the files can be served directly by the web server")</span>
        @Html.ValidationMessage("EnableDirectRoute", "*")
    </div>
    <div data-controllerid="@Html.FieldIdFor(m => m.EnableDirectRoute)">
        <div>
            <label for="@Html.FieldIdFor(m => m.DirectRoute)">@T("Direct route to Media files")</label>
            @Html.TextBoxFor(m => m.DirectRoute, new { @class = "textMedium" })
            <span class="hint">@T("e.g., http://www.myserver.com/media/ ")</span>
            @Html.ValidationMessage("DirectRoute", "*")
        </div>
    </div>
</fieldset>