@model dcp.Routing.Models.RedirectRule

@{
    Html.EnableUnobtrusiveJavaScript();
    Html.EnableClientValidation();
    
    Style.Include("Styles.min.css");

    Script.Require("expressive.annotations.validate");
}
<div>
    @Html.LabelFor(x => x.SourceUrl)
    @Html.TextBoxFor(x => x.SourceUrl, new { @class = "text large" })
    @Html.ValidationMessageFor(x => x.SourceUrl)
    <span class="hint">@T("Relative Url from which redirect. Do not start with '~/'")</span>
</div>
<div>
    @Html.LabelFor(x => x.DestinationUrl)
    @Html.TextBoxFor(x => x.DestinationUrl, new { @class = "text large" })
    @Html.ValidationMessageFor(x => x.DestinationUrl)
    <span class="hint">@T("Relative Url to which redirect. Do not start with '~/'")</span>
</div>
<div>
    @Html.LabelFor(x => x.IsPermanent)
    @Html.CheckBoxFor(x => x.IsPermanent)
    @Html.ValidationMessageFor(x => x.IsPermanent)
    <span class="hint">@T("Redirect should be permanent 301")</span>
</div>

