@model dynamic

<h3>@Html.TitleForPage(T("Change Password").ToString())</h3>

<div class="col-xs-12 col-md-6">
    <p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"])</p>
</div>
<div class="clearfix"></div>

@using (Html.BeginFormAntiForgeryPost(Url.Action("LostPassword"), FormMethod.Post, new { @class = "col-xs-12 col-md-6" })) {
    @Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
    @Html.Hidden("nonce", ViewData["nonce"])
    <div class="form-group">
        <label for="newPassword" class="control-label">@T("New Password")</label>
        @Html.Password("newPassword", null, new { @class = "form-control", autofocus = "autofocus", placeholder = "New Password" })
        @Html.ValidationMessage("newPassword")
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="control-label">@T("Confirm New Password")</label>
        @Html.Password("confirmPassword", null, new { @class = "form-control", placeholder = "Confirm New Password" })
        @Html.ValidationMessage("confirmPassword")
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@T("Change Password")</button>
    </div>
}