@model Nwazet.Commerce.ViewModels.ReportDataViewModel
@using System.Globalization
@using Nwazet.Commerce.Models.Reporting;
@{
    Style.Require("DateTimeEditor");
    Style.Require("jQueryCalendars_Picker");
    Style.Require("jQueryUI_Calendars_Picker");
    Style.Require("jQueryTimeEntry");
    Style.Require("jQueryDateTimeEditor");
    Style.Include("reports-admin.css");

    Layout.Title = Model.Name;

    <fieldset class="bulk-actions report-filters">
        @using (Html.BeginForm("Report", "Report", FormMethod.Get)) {
            @Html.Hidden("report", Model.Name)
            <label for="preset">@T("Preset:")</label>
            <select id="preset" name="preset">
                @Html.SelectOption(Model.Preset, "", T("Choose a preset...").ToString())
                @Html.SelectOption(Model.Preset, "today", T("Today").ToString())
                @Html.SelectOption(Model.Preset, "thisweek", T("This week").ToString())
                @Html.SelectOption(Model.Preset, "currentmonth", T("This month").ToString())
                @Html.SelectOption(Model.Preset, "lastfiveyears", T("Last five years").ToString())
                @Html.SelectOption(Model.Preset, "yeartodate", T("Year to date").ToString())
            </select>
            <button type="submit">@T("Apply")</button>
        }
        @using (Html.BeginForm("Report", "Report", FormMethod.Get)) {
            @Html.Hidden("report", Model.Name)
            @Html.Label("startDate", T("Between").Text)
            <label class="forpicker" for="@Html.Id("startDate")">@T("Date")</label>
            <span class="date">@Html.TextBox("startDate", Model.StartDateEditor.Date, new { @class = "text-box single-line" })</span>
            @Html.Label("startDate", T(" and ").Text)
            <label class="forpicker" for="@Html.Id("endDate")">@T("Date")</label>
            <span class="date">@Html.TextBox("endDate", Model.EndDateEditor.Date, new { @class = "text-box single-line" })</span>
            <label for="granularity">@T("Granularity:")</label>
            <select id="granularity" name="granularity">
                @Html.SelectOption(Model.Granularity.ToString(), "", T("Choose a granularity...").ToString())
                @Html.SelectOption(Model.Granularity.ToString(), TimePeriod.Hour.ToString(), T("Hour").ToString())
                @Html.SelectOption(Model.Granularity.ToString(), TimePeriod.Day.ToString(), T("Day").ToString())
                @Html.SelectOption(Model.Granularity.ToString(), TimePeriod.Week.ToString(), T("Week").ToString())
                @Html.SelectOption(Model.Granularity.ToString(), TimePeriod.Month.ToString(), T("Month").ToString())
                @Html.SelectOption(Model.Granularity.ToString(), TimePeriod.Trimester.ToString(), T("Trimester").ToString())
                @Html.SelectOption(Model.Granularity.ToString(), TimePeriod.Year.ToString(), T("Year").ToString())
            </select>
            <button type="submit">@T("Apply")</button>
        }
    </fieldset>
    <canvas id="report-chart" width="600" height="400"></canvas>
    <table class="commerce-report-data" id="commerce-report-data-table" data-chart-type="@Model.ChartType.ToString()" data-other-text="@T("Other")">
        <thead>
            <tr>
                <th>@Model.DescriptionColumnHeader</th>
                <th class="value-header">@Model.ValueColumnHeader</th>
                @if (Model.Series != null && Model.Series.Any()) {
                    foreach (var series in Model.Series) {
                        <th class="series-description">@series</th>
                    }
                }
            </tr>
        </thead>
        @foreach (var dataPoint in Model.DataPoints) {
            var valueString =
                String.IsNullOrWhiteSpace(dataPoint.ValueString)
                    ? String.IsNullOrWhiteSpace(Model.ValueFormat)
                        ? dataPoint.Value.ToString(CultureInfo.CurrentUICulture)
                        : dataPoint.Value.ToString(Model.ValueFormat)
                    : dataPoint.ValueString;
            <tr>
                <td class="description">@dataPoint.Description</td>
                <td class="value" data-value="@dataPoint.Value" data-value-string="@valueString">
                    @if (!String.IsNullOrWhiteSpace(dataPoint.Url)) {
                        <a href="@dataPoint.Url">@valueString</a>
                    }
                    else {
                        @valueString
                    }
                </td>
                @if (Model.Series != null && dataPoint.Series != null && dataPoint.Series.Any()) {
                    foreach (var series in Model.Series) {
                        var seriesDataPoint = dataPoint.Series.ContainsKey(series)
                            ? dataPoint.Series[series]
                            : null;
                        if (seriesDataPoint == null) {
                            <td class="series-value" data-value="0" data-value-string="0">@T(" - ")</td>
                        }
                        else {
                            var seriesValueString =
                                String.IsNullOrWhiteSpace(seriesDataPoint.ValueString)
                                    ? String.IsNullOrWhiteSpace(Model.ValueFormat)
                                        ? seriesDataPoint.Value.ToString(CultureInfo.CurrentUICulture)
                                        : seriesDataPoint.Value.ToString(Model.ValueFormat)
                                    : seriesDataPoint.ValueString;
                            <td class="series-value" data-value="@seriesDataPoint.Value" data-value-string="@seriesValueString">
                                @if (!String.IsNullOrWhiteSpace(seriesDataPoint.Url)) {
                                    <a href="@seriesDataPoint.Url">@seriesValueString</a>
                                }
                                else {
                                    @seriesValueString
                                }
                            </td>
                        }
                    }
                }
            </tr>
        }
    </table>
}
@using (Script.Foot()) {
    @Display.CalendarsPickerLocalization()
    @Display.TimeEntryLocalization()
    Script.Require("jQueryCalendars_Picker_Ext").AtFoot();
    Script.Include("chartjs.js", "chartjs.min.js").AtFoot();
    Script.Include("report.js", "report.min.js").AtFoot();
}