@using Orchard.Utility.Extensions
@model Nwazet.Commerce.ViewModels.AttributesIndexViewModel
@{
	var pageSizes = new List<int?> { 10, 50, 100 };
	var defaultPageSize = WorkContext.CurrentSite.PageSize;
	if(!pageSizes.Contains(defaultPageSize)) { 
		pageSizes.Add(defaultPageSize);
	}
    var returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString();
}

<h1>@Html.TitleForPage(T("Manage Attributes").Text) </h1>
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <div class="manage">
        @Html.ActionLink(
            T("Add a new product attribute").Text,
            "Create", "Admin",
            new {
                    Area = "Contents",
                    Id = "ProductAttribute",
                    ReturnUrl = returnUrl
            },
            new { @class = "button primaryAction" })
    </div>

    <fieldset>		
        <table class="items">
            <thead>
                <tr>
                    <th scope="col">@T("Name")</th>
                    <th scope="col" class="actions">&nbsp;</th>
                </tr>
            </thead>
            @foreach (var attribute in Model.Attributes) { 
                <tr>
                    <td>
                        @Html.ItemEditLinkWithReturnUrl(Html.ItemDisplayText(attribute.ContentItem).ToHtmlString(), attribute.ContentItem) 
                    </td>
                    <td>
                        @Html.Link(T("Delete").Text, Url.ItemRemoveUrl(attribute.ContentItem, new {returnUrl}), new {itemprop = "RemoveUrl UnsafeUrl"})
                    </td>
                </tr>
            }
        </table>
	@Display(Model.Pager)
    </fieldset>
}